Package: netatalk
Version: 2.2.1-3
Depends: libc, libdb47, libgcrypt, libopenssl, netatalk-utility
Provides: 
Source: package/netatalk
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 358619
Description:  netatalk
