Package: kmod-qca-nss-ecm
Version: 3.4.103-1
Depends: kernel (=3.4.103-1-9bc361d5681459bf8ad202ee07342a8e), kmod-qca-nss-drv, kmod-qca-hyfi-bridge, iptables-mod-extra, kmod-shortcut-fe-drv
Provides: 
Source: package/qca-nss-ecm
Section: kernel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 165317
Description:  QCA NSS Enhanced Connection Manager (ECM)
