Package: uhttpd-mod-tls
Version: 31
Depends: libc, uhttpd, libcyassl
Provides: 
Source: package/uhttpd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Jo-Philipp Wich <xm@subsignal.org>
Architecture: ipq806x
Installed-Size: 1696
Description:  The TLS plugin adds HTTPS support to uHTTPd.
