Package: iptables-mod-mark2prio
Version: 1.4.10-4
Depends: libc, iptables, kmod-ipt-mark2prio
Provides: 
Source: package/iptables
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 890
Description:  mark2prio extension
