Package: mxml
Version: 2.6-1
Depends: libc
Provides: 
Source: package/mxml
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 15219
Description:  A small xml library.
