Package: libavl
Version: 0.3.5-1
Depends: libc
Provides: 
Source: package/libavl
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Espen Jürgensen <espenjurgensen+openwrt@gmail.com>
Architecture: ipq806x
Installed-Size: 2342
Description:  AVLTree is a small implementation of AVL trees for the C programming language.
