Package: libyaml
Version: 0.1.4-1
Depends: libc
Provides: 
Source: package/libyaml
Section: lang
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 39212
Description:  yaml library written in c
