[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteEchoService
Exec=/home/projects/R7800-V1.0.0.40_gpl_src/build_dir/target-arm_v7-a_uClibc-0.9.33.2_eabi/dbus-1.4.14/test/test-service
User=anyrandomuser

