Package: utelnetd
Version: 0.1.9-1
Depends: libc
Provides: 
Source: package/utelnetd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 4528
Description:  utelnetd for CLI
