Package: dnsmasq
Version: 2.39-1
Depends: libc
Provides: 
Source: package/dnsmasq
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 60999
Description:  It is intended to provide coupled DNS and DHCP service to a LAN.
