Package: libdb47
Version: 4.7.25.NC-4
Depends: libc, libxml2
Provides: 
Source: package/db47
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 460902
Description:  Berkeley DB library (4.7).
