Package: mtd-utils-flash-erase
Version: 1.5.0-1
Depends: libc, mtd-utils
Provides: 
Source: package/mtd-utils
Section: utils
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 11371
Description:  flash_erase package from mtd-utils
