Package: qca-wpa-cli
Version: 10.4-4.0.1756.093-1
Depends: libc, qca-wpa-supplicant
Provides: 
Source: package/qca-hostap
Section: QCA
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Qualcomm Atheros
Architecture: ipq806x
Installed-Size: 31744
Description:  WPA Supplicant command line interface
