Package: miniupnpd
Version: 20070127-3
Depends: libc
Provides: 
Source: package/miniupnpd
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 25522
Description:  Miniupnpd Daemon
