Package: libcharset
Version: 1.11-1
Depends: libc
Provides: 
Source: package/libiconv
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 2595
Description:  Character set conversion library
