Package: ip6tables
Version: 1.4.10-4
Depends: libc, kmod-ip6tables, libip6tc, libxtables
Provides: 
Source: package/iptables
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 53852
Description:  IPv6 firewall administration tool
