Package: qca-wifi-fw-asic
Version: CNSS.BL.3.0.2-00043-S-1-1
Depends: libc
Provides: 
Source: package/qca-wifi-fw
Section: QCA
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Qualcomm Atheros
Architecture: all
Installed-Size: 876809
Description:  This package contains the qca-wifi firmware(-asic) used in 10.x drivers
