Package: libexif
Version: 0.6.17-1
Depends: libc
Provides: 
Source: package/libexif
Section: libs
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 56022
Description:  library for jpeg files with exif tags
