Package: kmod-dnih323
Version: 3.4.103-ipq806x-1
Depends: kernel (=3.4.103-1-9bc361d5681459bf8ad202ee07342a8e)
Provides: 
Source: package/kmod-dnih323
Section: kernel
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 16440
Description:  DNI H323 ALG
