Package: bridge-mode
Version: 1
Depends: libc
Provides: 
Source: package/bridge-mode
Section: utils
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 2222
Description:  For bridge-mode
