Package: ethtool
Version: 3.4.1-1
Depends: libc
Provides: 
Source: package/ethtool
Section: net
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: OpenWrt Developers Team <openwrt-devel@openwrt.org>
Architecture: ipq806x
Installed-Size: 75969
Description:  ethtool is a small utility for examining and tuning your ethernet-based
 network interface
