Package: checkpcap
Version: 1-1
Depends: libc
Provides: 
Source: package/checkpcap
Section: opt
Status: unknown ok not-installed
Essential: no
Priority: optional
Maintainer: Mo Chen <moc@qca.qualcomm.com>
Architecture: ipq806x
Installed-Size: 194
Description:  A script to decide whether a pcap should be uploaded.
